.card {
  height: 40em;
  margin-bottom: 1em;
}

.card img {
  height: 26em;
  cursor: pointer;
}

.corpo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.corpo button {
  width: 7em;
}

.selected {
  border: solid red 4px;
}
