.card{
    height: 40em;
    margin-bottom: 1em;
}

.card img{
    height: 26em;
}
 
.corpo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.corpo button{
    width: 7em;
}